# Dependencies
node_modules

# Build output
.next
out
dist

# Env and local config
.env
.env.*
.env.local

# Logs and coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage

# IDE/editor
.DS_Store
.vscode
.idea
*.swp

# Hosting/deploy
.vercel
